@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff4ea;
  --foreground: #c96868;
  --green: #7eacb5;
  --yellow: #fadfa1;
  /* //FADFA1 */
  /* //7EACB5 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
}
