@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e1f7f5;
  --foreground: #00b8ae;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
}
